@font-face {
    font-family: 'vasco';
    src: url('./assets/fontes/Long_Shot.ttf') format('truetype');
}

@font-face {
    font-family: 'Oxanium';
    src: url('./assets/fontes/Oxanium-VariableFont_wght.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: aliceblue;
    box-sizing: border-box;
    font-family: 'Oxanium';
    scroll-behavior: smooth !important;
}

body* {
    box-sizing: border-box;
    list-style-type: none;
}

.topicos {
    color: #f7f7f7;
    font-family: 'Oxanium';
    font-size: 3em;
    text-align: center;
}

/* Responsive */

@media screen and (max-width: 1200px) {


    .apresentacao {
        flex-direction: column;
        height: 100%;
        width: 100%;
        background: black;
    }

    .apresentacao__esquerda {
        padding-top: 5%;
        width: 100%;
        padding-left: 0;
    }

    .descricao {
        font-size: 25px;
    }

    .apresentacao__direita {
        width: 100%;
        justify-content: center;
    }

    .apresentacao__direita__imagem img {
        width: 50%;
    }

    .imagem {
        width: 50%;
    }

    .metodologia {
        height: auto;
    }

    .carroussel {
        width: 80vw;
    }

    /* localizacao__mapa */

    .localizacao__infos {
        flex-direction: column-reverse;

    }

    .localizacao__mapa {
        width: 80vw;
    }

    .localizacao__descricaoMapa {
        padding: 20px 5%;
        font-size: 20px;

    }

    /* Forms */
    .inscrevase h1 {
        text-align: center;
        margin-top: 4%;
        font-size: 20px;
    }

    .inscrevase form {
        width: 90%;
    }
}

/* footer */
.conteudo-footer {
    display: flex;
    width: 100%;
    margin: 21px 0;
}

ul {
    list-style-type: none;
    font-family: 'Oxanium';
}

li {
    margin: 0 13px;
    font-size: 0.8em;
}

.conteudo-footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.fab{
    font-size: 30px;
    color: #b29a3e;
}

.lista-horarios {
    display: flex;
}

.horarios-detalhe {
    display: flex;
    flex-direction: column;

}

.redes-socias{
    display: flex;
    flex-direction: row;
}

.redes-socias li::first-letter {
    font-weight: bold;
}

.redes-socias li a {
    margin: 0;
    display: flex;
    align-items: center;
}

.redes-socias img {
    width: 20px;
    margin-right: 10px;
}

@media screen and (max-height: 800px) {
    .carroussel {
        height: 100%;
    }

    .imagem {
        width: 50%;
    }


}

@media screen and (max-width: 822px) {
    .page2 {
        margin: 0 10px;
    }


    .apresentacao__esquerda__descricao {
        max-width: 294px;
    }
}

@media screen and (max-width: 606px) {

    .menu {
        width: 90%;
    }

    .menu__barra {
        margin: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;

    }

    .menu {
        flex-direction: column;
        background: transparent;
    }

    .menu__opcoes ul {
        flex-direction: column;
        text-align: center;
    }

    .menu__buttom_hamburguer {
        display: flex;
        right: 28px;
        background: transparent;
    }

    .menu__opcoes {
        width: 100%;
        height: 0px;
        justify-content: center;
        background: black;
    }

    .apresentacao__direita__imagem {
        text-align:center;
        img {
            width: 50%;
        }
    }

    .metodologia__carroussel {
        width: 100%;
    }

    .metodologia__botoes,
    .next,
    .prev{
        display: none;
    }

    .metodologia__descricao {
        text-align: left;
        padding-left: 11px;
        max-width: 95%;
        border-left: 1px solid #ff0b0b;
    }

}

@media screen and (max-width: 500px) {
    .apresentacao__titulo {
        padding-top: 35px;
        font-size: 50px
    }

    .apresentacao_descricao {
        margin-left: 50px;
        margin-right: 50px;
    }

    .conteudo-footer {
        align-items: center;
    }

    .lista-horarios {
        padding-left: 3px;
        display: flex;
        flex-direction: column;
    }
}