.apresentacao__esquerda{
    width: 65vw;
    padding-left: 5%;
}

.apresentacao__esquerda__titulo{
    margin-bottom: 33px;
}

.apresentacao__esquerda div{
    font-family: 'Oxanium';
    font-size: 50px;
    text-align: center;
    font-size: 5em;

}
.apresentacao__esquerda__marca{
    font-size: 1em;
    font-family: 'vasco';
    margin-top: 0;
    margin-bottom: 5%;
}

.apresentacao__esquerda__descricao{
    font-size: 23px;
    border-left: 1px solid #ff0b0b;
    padding-left: 30px;
    text-align: left;
    margin-top: 0;
}